body {
    background-color: rgb(245, 237, 237);
}
.home__title, .users__title, .posts__title {
    text-align: center;
    margin: 20px;
}

.home__navbar  {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: aquamarine;
    
}

table {
    width: 80%;
    margin:  20px auto;
    max-width: 1000px;
}