body {
    background-color: rgb(245, 237, 237);
}
.detail__title, .users__title{
    text-align: center;
    margin: 50px;
}

.home__navbar  {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: aquamarine;
    
}

table {
    width: 80%;
    margin:  20px auto;
    max-width: 1000px;
}
tr {
    text-align: center;
    margin: 32px;
}

button {
    background-color: red;
    color: white;
}